p,h5{
    color:  black;
}
.card{
    background-color: var(--blanco) ;
    width: 200px;
    height: 300px
    /*margin-right: 10px;*/
}
.card:hover {
    background:#F76666  !important;
    border:  1px;
    color:var(--rojo) !important;
    /*margin-bottom: 16px;*/
    font-weight: bold;
    font-size: 16px;

}
.form-general{
    width: 80%;
    height: 66rem;
    background: var(--gris);
    margin: auto;
    margin-top: 100px;
    box-shadow:7px 13px 37px var(--sombra) ;
    padding: 20px 30px;
    border-top: 4px solid #ee523d;
    color: var(--blanco);
}
.tittle{
   /* background-color: var(--blanco);*/
    text-align: left;
    box-shadow:7px 13px 37px var(--sombra) ;
    padding: 8px 15px;
 
}