:root {
    --rojo: #ee523d;
    --gris: #4e4d4d;
    --gris-claro: #737577;
    --negro: #252323;
    --sombra: #000;
    --blanco: #fff;
  
    /* var para menu */
    --width: 300px;
    --padding: 10px;
    --bgcolor: var(--gris);
    --hovercolor: var(--rojo);
    --width-collapsed: 50px;
  }
  
  .card {
    background-color: var(--gris) !important;
  }
  .card .card-header {
    background-color: var(--blanco) !important;
  }
  
  .form-general h2 {
    text-align: center;
  }
  
  .buscar_producto {
    color: var(--sombra);
  }
  
  #productosTable {
    color: var(--blanco) !important;
  }
  
  .filaAgg {
    color: var(--blanco) !important;
  }
  
  .product{
    background-color: var(--gris-claro) !important; 
  }

  h1{
    color: var(--rojo);
  }

  
  .cabecera_table{
color:burlywood;
  }

  .update-products{
    color:burlywood;
    size: 25px;
  }